
header{
@include transparent($violet, 0.85);
position: fixed;
    top: 70px;
    left: 0px;
    width: 100%;
z-index: 100;
line-height: 90px;
height: 90px;
 .logo{
        float: left;
        margin-top:6px;
    }
}
.home header{
    display: none;
    visibility: hidden;
}
nav{
      float: right;
    li{
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            text-transform: uppercase;
            position: relative;
            a{
                padding:0;
                text-transform: uppercase;
                color:white;
                letter-spacing: 2px;
                font-weight: normal;
                position: relative;
                font-size: 16px;
                margin: 0 1em;
                display: block;
                transition:color 0.4s;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                -webkit-touch-callout: none;
                -khtml-user-select: none;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                
            }
            &.current-menu-item, &.current-menu-parent{
                a{
                    
            }
            }
            &:hover>ul{
                display: block;
            }

        ul{
                position:absolute;
                top: 84px;
                left: 0;
                transition:all .6s linear;
                width: auto;
                display: none;
                @include transparent($violet,0.7);
                li{
                    display: block;
                    width: 100%;
                    white-space: nowrap;
                    vertical-align: inherit;
                    text-transform: none;
                    text-align: left;
                    height:inherit;
                    margin:0;
                    padding:0;
                    line-height: inherit;

                    border-bottom: 1px solid white;
                     &:first-child{
                 margin-left: 0;
                    }
                   &:nth-child(2):after{
                        content:'';
                        display: block;
                        vertical-align: inherit;
                        background-image:none;
                        background-repeat: no-repeat;
                        width: inherit;
                        height:inherit;
                        margin:0;
                        padding:0;
                        }
                    &.current_page_item a{
                        text-decoration: underline;
                    }
                    &:last-child{
                        border-bottom: none;
                    }
                    &:after{
                        content:'';
                        padding:0;
                    }
                    a{
                    height: 30px;
                    font-size: 16px;
                    text-transform: initial;
                    line-height: 30px;
                    padding: 4px 15px;
                    display: block;
                    font-weight: bold;
                    color:white;
                        &:hover{
                            text-decoration: underline;
                        }
                         &:after,&:before{
                    content: '';
                    background:none;
                    display: none;
                     }
                    }
                }
            }

        }
    }