@media only screen and (max-width: 800px) {
    $menu-width:250px;
    .site-container{
        overflow: hidden;
        padding-top: 0;
        height:100%;
    }
    .pusher{
        height: 100%;
       transition-duration:0.3s;
      transform:translateX(1.25);
    }
    .with-sidebar{
        .pusher{
           transform:translateX($menu-width);
        }
        .site-cache{
            position: absolute;
            top: 0;left: 0;right: 0;bottom: 0;
            background-color: rgba(0,0,0,0.6);
            z-index:10;
        }
    }
    .site-content{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
         overflow-y:scroll;
        -webkit-overflow-scrolling: touch;
        margin-top: 0;
            padding-top: 88px;
        z-index: 7;
    }
    header {
       position: fixed;
        top:0;
        height: 88px;
        z-index: 8;
        width: 100%;
        a.logo{
        margin-top: 0;
       position: absolute;
            left:50%;
            margin-left:-37.5px;
            margin-top: 0;
            top:14px;
        img{
            width: 70%;
        }
     }
            .toggle{
                position: absolute;
                display: block;
                width: 10%;
                height: 50px;
                top:21px;
                left:25px;
                cursor: pointer;
                &:after{
                content: '';
                position: absolute;
                display: block;
                width: 23px;
                top: 3px;
                left: 7px;
                box-shadow: 0 10px 0 2px white,0 20px 0 2px white,0 30px 0 2px white;
            }
            }
        nav{
            display: inherit;
            width: inherit;
            line-height: inherit;
            position: fixed;
            float: none;
            padding: 0;
            margin:0;
            left: 0;
            top: 0;
            bottom: 0;
            width: $menu-width;
            overflow-y:scroll;
            background-color:$vert;
            -webkit-overflow-scrolling: touch; /* Inertie sur iOS */
            transform:translateX($menu-width * -1);
            padding: 20px 0 0 0;
            li{
                display: block;
                text-align: left;
                border-bottom: 1px solid lighten($vert,30%);
                float: none;
                &:after{
                content:'';
                padding:0;
                line-height: 40px;
            }
                a{
                    color:white;
                    display: block;
                    height:inherit;
                    line-height: inherit;
                    font-size: 12px;
                    padding:8px 0 8px 20px;
                &:after{
                    border-bottom: none;
                    margin:0;
                } }
            }
        }
    }

.grid .unit, .row .unit{width: 100%;padding-left: 20px;padding-right: 20px;}
    .unit .grid .unit, .unit .row.unit{padding-left: 0px;padding-right: 0px;}
    .center-mobile {margin:5px auto; display:table; text-align:center;}
    .hide-mobile {display: none;}
    .alignleft,.alignright{ clear:both; display:block; margin-left:auto; margin-right:auto;float:none;padding:0;}
   
}