@media only screen and (max-width: 800px) {
    

.grid .unit, .row .unit{width: 100%;padding-left: 20px;padding-right: 20px;}
    .unit .grid .unit, .unit .row.unit{padding-left: 0px;padding-right: 0px;}
    .center-mobile {margin:5px auto; display:table; text-align:center;}
    .hide-mobile {display: none;}
    .alignleft,.alignright{ clear:both; display:block; margin-left:auto; margin-right:auto;float:none;padding:0;}
   
}
