@charset "UTF-8";
$noir: #303030;

@mixin transparent($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: transparent;
  background-color: $rgba;
  // Sass transforme lui-même le rgba en hexadécimal pour IE
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
  zoom: 1;
}
@import "_version.scss";
@import "_reset.scss";
@import "_grid.scss";
@import "_menu.scss";
@import "_base.scss";
@import "_formulaire.scss";
@import "_footer.scss";
@import "_fancybox.scss";
@import "_responsive.scss";
